@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-4">
        <img src="@Url.Content("~/Content/Logo.png")" alt="Life Funding" class="img-responsive" style="height:180px;" />
    </div>
    <div class="col-md-7 col-lg-7 col-sm-7">
        <div class="jumbotron">
            <h1>Life Funding</h1>

            <p class="lead">
                Life Funding is a platform to support charitable causes through XLM donations. Currently, charitable causes depend on data movements in the current financial system,
                which makes it difficult to accept amounts from other parts of the world and also not receive all of these amounts (commissions for banks). <br />
                Life Funding is the "Kiva with Stellar".
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can see all the charitable causes and decide which one to donate XLM to.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("ListCauses","Home")">Cause list &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Submit your cause</h2>
        <p>Are you helping a community or are you a person who requires help to improve your life? You can upload your cause and accept XLM.</p>
        <p><a class="btn btn-default" href="@Url.Action("CreateCause","Home")">Submit your cause &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stellar Address</h2>
        <p>Do you need to create a Stellar address? You can do it here before uploading your cause. You can also receive trial funds to donate.</p>
        <p><a class="btn btn-default" href="@Url.Action("CreateStellarAddress","Home")">Create Stellar address &raquo;</a></p>
    </div>
</div>